<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<title>CGRA</title>
</head>
<body>
	<div>
		<nav>
			<div class="nav-wrapper light-green darken-3">
				<a href="/index" class="brand-logo"> <img src="/logo.png" height="80"
					width="80">
				</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="/cadastros">Voltar</a></li>
				</ul>
			</div>
		</nav>
	</div>
	<form class="container" action="/equino" method="post">
		<h1>Adicionar Equino</h1>
		<div class="row">
			<div class="input-field col s3">
				<label>Raça: </label> <br> <input type="text" name="raca">
			</div>
			<div class="input-field col s3">
				<label>Data de Nascimento: </label> <br> <input type="text"
					name="nasc">
			</div>
			<div class="input-field col s3">
				<label>Pelagem (COR): </label> <br> <input type="text"
					name="cor">
			</div>
			<div class="input-field col s3">
				<label>Numeração ou Ferragem:</label> <br> <input type="text"
					name="brinco">
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<label>Código Pai: </label> <br> <input type="text" name="pai">
			</div>
			<div class="input-field col s6">
				<label>Código Mãe: </label> <br> <input type="text" name="mae">
			</div>
		</div>

		<div>
			<button type="submit" class="btn light-green darken-3">Salvar</button>
			<button type="reset" class="btn red">Limpar</button>
		</div>
	</form>
</body>
</html>