<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>CGRA</title>
</head>
<body>
	<div>
		<nav>
			<div class="nav-wrapper light-green darken-3">
				<a href="/index" class="brand-logo">
				Equinos
				</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="/animais">Voltar</a></li>
				</ul>
			</div>
		</nav>
	</div>
	<table class="container">
		<thead>
			<tr>
				<th>Raça</th>
				<th>Nascimento</th>
				<th>Pelagem (Cor)</th>
				<th>Ferragem</th>
				<th>Pai</th>
				<th>Mãe</th>
				<th>Ações</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="Equino : ${Equino}">
				<td><span th:text="${Equino.raca}"></span></td>
				<td><span th:text="${Equino.nasc}"></span></td>
				<td><span th:text="${Equino.cor}"></span></td>
				<td><span th:text="${Equino.brinco}"></span></td>
				<td><span th:text="${Equino.pai}"></span></td>
				<td><span th:text="${Equino.mae}"></span></td>
				
				<td>
					<a class="btn red" th:href="@{Equino/{id}(id=${Equino.id})}">
						Excluir
					</a>
				</td>
				
			</tr>
		</tbody>
	</table>
</body>
</html>