<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
</head>
<body>
	<div id="esquerdo">
		<img src ="../static/logo.png" height="350" width="350"> <br>
		<img src="../static/Foto propaganda.png"height="350" width="350">
	</div>
	<div id="formulario">
		
		<img src="../static/Foto icone do cadastro.png" height="350" width="350">
		<input type="email" name="email" id="email" placeholder="Nome Completo "> <br>
		<input type="number" name="cpf" id="cpf" placeholder="CPF"> <br>
		<input type="date" name="nasc" id="nasc" placeholder="Data de Nascimento "> <br>
		<input type="email" name="email" id="email" placeholder="Usuário "> <br>
		<input type="password" name="senha" id="senha" placeholder="Senha"> <br>
		
		<button>Salvar</button>
	</div>
</body>
</html>